{% extends 'base.html' %}

{% block title %} {{article.title}} {% endblock %}

{% block content %}

    <h2>{{ article.title }}</h2>
    <p>{{ article.text }}</p>
    <em>published: {{ article.pub_date }}</em>

    <br>
    <hr>
    <form action="{% url 'articles:leave_comment' article.id%}" method="POST">
        {% csrf_token %}
        <input type="text" required placeholder="Your name" name="author_name" ><br>
        <textarea name="comment_text" required placeholder="Comment text" cols="30" rows="10"></textarea><br>
        <button type="submit">Leave comment</button>
    </form>

    {% if latest_comments %}
        {% for c in latest_comments %}
            <p><strong>{{ c.author_name }} said:</strong></p>
            <p>{{ c.comment_text }}</p><br><br>
        {% endfor %}
    {% else %}
        <h3>No comments yet.</h3>
    {% endif %}

    <br>
{% endblock %}
